<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
<style>
  .side-bar {
    background: #16213e !important;
    border-right: 1px solid #4da8da33 !important;
  }
  /* Remove white gradients on nav items */
  .site-nav .nav-list-item .nav-list-expander,
  .site-nav .site-button,
  .site-nav .nav-list-link {
    background-image: none !important;
  }
  .site-nav .nav-list-item .nav-list-expander:hover,
  .site-nav .site-button:hover,
  .site-nav .nav-list-link:hover {
    background-image: none !important;
    background-color: #0f3460 !important;
  }
</style>
